@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "SFProDisplay";
  src: url("/public/fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYBOLD.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYITALIC.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYMEDIUMITALIC.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype"),
    url("/public/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");

  font-weight: normal;
  font-style: normal;
} */
